In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("../sample/sample1/mtcars.csv")
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [8]:
df["qsec"]

0     16.46
1     17.02
2     18.61
3     19.44
4     17.02
5     20.22
6     15.84
7     20.00
8     22.90
9     18.30
10    18.90
11    17.40
12    17.60
13    18.00
14    17.98
15    17.82
16    17.42
17    19.47
18    18.52
19    19.90
20    20.01
21    16.87
22    17.30
23    15.41
24    17.05
25    18.90
26    16.70
27    16.90
28    14.50
29    15.50
30    14.60
31    18.60
Name: qsec, dtype: float64

In [13]:
from sklearn import preprocessing

In [22]:
std_scaler = preprocessing.StandardScaler().fit(df[["qsec"]])

In [23]:
df_std = std_scaler.transform(df[["qsec"]])
df_std[:5]

array([[-0.78960058],
       [-0.47120178],
       [ 0.43282336],
       [ 0.90473586],
       [-0.47120178]])

In [24]:
minmax_scaler = preprocessing.MinMaxScaler().fit(df[['qsec']] )

In [26]:
df_minmax = minmax_scaler.transform(df[["qsec"]])

In [42]:
pd.DataFrame(df_minmax[df_minmax>0.5]).to_numpy()

array([[0.58809524],
       [0.68095238],
       [0.6547619 ],
       [1.        ],
       [0.52380952],
       [0.59166667],
       [0.64285714],
       [0.65595238],
       [0.52380952]])